body {
    background-color: rgb(208, 124, 216);
}

@media only screen and (max-width:600px) {
    body {
        background-color: rgb(105, 156, 233);
    }
}

.back {
    max-width: 1200px;
}

.header,
.footer,
.bgArticlePubli {
    background: rgb(10, 10, 10);
    margin-bottom: 3%;
    display: grid;
}

.header,
.footer {
    padding: 1%;
}

.bgArt {
    padding: 3%;
    width: 65%;
}

.bgPubli {
    padding: 3%;
    width: 35%;
}

.bgArticlePubli {
    width: 100%;
    display: flex;
}

.boxBlueGrey,
.boxOrange {
    margin: 2%;
}

.boxBlueGrey {
    background: rgb(72, 90, 128);
    display: flex;
}

.boxOrange {
    background: rgb(247, 120, 47);
    padding: 2%;
}

.boxRed {
    background: rgb(185, 52, 52);
    display: inline-block;
    width: 100%;
}

.boxGrey {
    background: rgb(88, 97, 116);
    display: flex;
}

.logo,
.social,
.nav {
    background: tomato;
    padding: 1%;
}

.logo,
.social {
    margin: 2%;
    width: 20%;
}

.nav {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 60%;
}

.pie {
    background: rgb(255, 234, 141);
    padding: 1%;
    margin: 2%;
}

.publi,
.publi2 {
    background: rgb(255, 230, 0);
    padding: 3%;
    margin: 6%;
}

.publi2 {
    margin-bottom: 39%;
}

.banner {
    background: rgb(247, 184, 47);
    padding: 2%;
    font-size: 30px;
    font-weight: bold;
}

.article {
    background: rgb(78, 124, 223);
    padding: 2%;
    margin: 3%;
    width: 50%;
}

.navegacion {
    background: rgb(155, 184, 247);
    padding: 2%;
    margin: 3%;
    width: 100%;
}